.main-container {
    max-width: 1500px;
    width: 100%;
}

.nav-hover {
    color: variables.$blue-color;
}

.nav-hover:hover {
    color:variables.$white-color;
    text-shadow: 0px 0px 50px black;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.img-shadow {
    margin-top: 40px;
    box-shadow: 0px 0px 50px gray;
}

.text-details {
    font-size: 50px;
    font-weight: 500;
}

%section__rect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 60%;
    background-color: variables.$blue-color;
}

%section__rect2 {
    width: 60%;
    height: 145%;
    padding: 15px;
    background-color: black;
    box-shadow: 0px 0px 50px black;
}

%section__heading {
    text-shadow: 0px 0px 20px gray;
}

%section__paragraph {
    font-size: 17px;
    font-family: variables.$font;
    color: variables.$white-color;
}

.sections {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;

    &__rect1 {
        @extend %section__rect1;
    }

    &__rect2 {
        @extend %section__rect2;
    }

    &__heading {
        @extend %section__heading;
    }

    &__paragraph {
        @extend %section__paragraph;
    }

    &__education_name {
        font-family: variables.$font;
        font-size: 25px;
        color: variables.$white-color;
    }

    &__education_type {
        font-size: 15px;
        color: variables.$blue-color;
        list-style: none;
    }

    &__education_place {
        font-size: 13px;
        color: variables.$blue-color;
        list-style: none;
    }

    &__list {
        color: variables.$white-color;
        font-size: 25px;
    }

    &__link {
        font-family: variables.$font;
        font-size: 25px;
        color: variables.$white-color;
        text-decoration: none;
    }

    &__details {
        font-size: 18px;
        color: variables.$blue-color;
        list-style: none;
    }

    &__list {
        font-family: variables.$font;
        font-size: 25px;
        color: variables.$white-color;
        margin-left: 40px;
    }

    &__label_info {
        color: variables.$white-color;
    }

    &__input_info {
        resize: none;
        outline: none;
    }

    &__btn:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
        color: black;
    }
}

.footer {
    &__icon:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.5);
    }

    &__paragraph {
        @extend %section__paragraph;
    }
}