.main-container {
  max-width: 1500px;
  width: 100%;
}

.nav-hover {
  color: #5271ff;
}

.nav-hover:hover {
  color: black;
  text-shadow: 0px 0px 50px black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}