.main-container {
  max-width: 1500px;
  width: 100%;
}

.nav-hover {
  color: #5271ff;
}

.nav-hover:hover {
  color: white;
  text-shadow: 0px 0px 50px black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-shadow {
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 50px gray;
          box-shadow: 0px 0px 50px gray;
}

.text-details {
  font-size: 50px;
  font-weight: 500;
}

.section6__rect1, .section5__rect1, .section4__rect1, .section3__rect1, .section2__rect1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 60%;
  background-color: #5271ff;
}

.section6__rect2, .section5__rect2, .section4__rect2, .section3__rect2, .section2__rect2 {
  width: 60%;
  height: 145%;
  padding: 15px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 50px black;
          box-shadow: 0px 0px 50px black;
}

.section6__heading, .section5__heading, .section4__heading, .section3__heading, .section2__heading {
  text-shadow: 0px 0px 20px gray;
}

.footer__paragraph, .section6__paragraph, .section5__paragraph, .section4__paragraph, .section3__paragraph, .section2__paragraph {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
}
.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
}
.section3__education_name {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
}
.section3__education_type {
  font-size: 15px;
  color: #5271ff;
  list-style: none;
}
.section3__education_place {
  font-size: 13px;
  color: #5271ff;
  list-style: none;
}

.section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
}
.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
}
.section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 700px;
}
.section6__label_info {
  color: white;
}
.section6__input_info {
  resize: none;
  outline: none;
}

.footer__icon:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
body {
  height: 300vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}